html {
    background-color: darkslategray;
}
body {
    width:1000px;
    margin:auto;
    font-family:Arial, Helvetica, sans-serif;
}
.title {
    text-align:center;
}
.usertitle {
    text-align:center;

}
.splitwrapleft {
    width:30%;
    float:left;
}
.splitwrapright {
    width:70%;
    float:left;
}
.sectionwrap {
    width:490;
    position:relative;
    display:block;
    float:left;
    padding:5px;
    border-bottom:solid 1px black;
}
.buttonwrap {
    width:250px;
    padding:5px 15px;
    float:left;
    position:relative;
    display:block;
}
.buttontitle {
    margin:0;
}
#focusImage {
    display:block;
    position:relative;
    margin:auto;
    width:100%;
}